.body{ 
	font-family: 'Manrope', sans-serif;
	letter-spacing: 0.04em;
	line-height: 2;
	color: #2e2f42;
	overflow-x: hidden;
    text-decoration: none;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}


.logo{ padding-right: 300px;
	font-weight: 800;
	color: black;}







ul,
ol {
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}


    .cont {
		width: 1250px;

		margin-right: auto;
		margin-left: auto;
padding-left: 20px;
padding-right: 20px;
		
	}


	.nav-site {  display: flex;
		justify-content: center;
	}
	.nav-site-ul{
		display: flex;
		justify-content: center;
	}
	

	.li-site:not(:last-child) {
		margin-right: 110px;
	}


	.li-site {justify-content: center;
		align-items: center;font-weight: 600;
	}

	.li-site:hover{ 
		background-color: #DAD5D5;
		
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}



	.li-site:focus{background-color: #DAD5D5;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}


	.header {padding: 20px 0;
		
		margin-bottom: 10px;
		
	}
	
	
	.h2{display: flex;
	justify-content: center;
margin-bottom: 60px;
color: red;
font-weight: 800;}
	
	.hero { margin-bottom: 30px;
	}
	.container {
	}
	.hero-container {
	}
	.header-title { display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 2;

	}
	.list-catalog { 
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 60px;

		
	}
	.b-catalog {display: flex;
		justify-content: center;

		background-color: #F1F1F1 ;
		border-radius: 25%;
		
		align-items: center;
		border: 2px solid #000000;

		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		padding-left: 30px;
		padding-right: 30px;
	}

	.li-cat:hover {
		background-color: #DAD5D5;
	}

	.li-cat:focus {
		background-color: #DAD5D5;
	}
	.text-b{font-weight: 400;
		display: flex;
		justify-content: center;
		padding-left: 20px;
		padding-right: 20px;
		color: black;
		font-size: 24px;
	
	}
	.li-cat{ }

	.s1{ }


	.hero-cont{
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
	.s2{margin-bottom: 20px;}
	.cont {
	}
	
	.sale-list { display: flex;
		justify-content: center;
	}
	
	.p-sale { font-size: 16px;
		margin-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
		
		color: black;font-weight: 400;
	}

	.s3{ margin-bottom: 60px;}